img {
    width: 30%;
    margin: 0.5%;
    transition: 0.25s;
}

img:hover {
    box-shadow: 4px 4px #535353;
    transform: translate(-0.2em, -0.2em);
    transition: 0.3s;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 92.5%;
    margin-left: 0.5%;
    padding: 20px 0px;
    font-family: raleway;
    font-size: 1.5em;
}