body {
    /* background: linear-gradient(#e66465, #9198e5); */
}

img {
    width: 30%;
    margin: 0.5%;
    transition: 0.25s;
    border: 2px solid black;
}

img:hover {
    box-shadow: 4px 4px #535353;
    transform: translate(-0.2em, -0.2em);
    transition: 0.3s;
}

h1 {
    text-transform: uppercase;
    width: 28%;
    margin-left: 0.5%;
    padding: 20px 10px;
    font-family: raleway;
    font-size: 1.5em;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 25px 5px 10px 10px;
}

.bar {
    display: inline-block, flex;
    margin: auto 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid #f1f1f1;
}